@charset "UTF-8";
/* common */
section{padding-bottom: 30px;}
h2{font-size: 28px;padding: 43px 0 22px;font-weight: 500; letter-spacing: 1px;color: #222;}
.main_btn {width: 198px;height: 36px;color: #14adea;display: block;font-weight: 500;font-size: 14px;border: 1px solid #14adea;line-height: 40px;text-align: center;border-radius: 2px;letter-spacing: -.3px;margin: 0 auto;}
.main_btn:hover,.btn:hover{color: #fff;background: #14adea;display: block;border-color: #14adea;}
.dot:after{content: ''; width: 5px;height: 5px;border-radius: 50%;position: absolute;}
.dotgreen::after{background: #4bbf4d;}
.dotred::after{background: #f84d3a;}
.items_list{display: flex;}
.item{cursor: pointer;background: #fff;display: block; border: 1px solid #ededed;transition: border .5s;}
.item:hover{border:1px solid #14adea;}
.more{font-size: 12px; font-weight: 500; color: #14adea;}
.en{font-family: 'Cabin', sans-serif;}
.name{font-size: 16px;font-weight: 500;}
.text{font-size: 14px; line-height: 1.43;}
.category{font-size: 12px;color: #00b878; line-height: 1;font-weight: 400;}

/* style */

/* header */
header{position: fixed;z-index: 99999;background: #fff;width: 100%;box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);}
.header_top{border-bottom: 1px solid #ededed;}
.header_top .inner{height: 31px; display: flex;justify-content: space-between;line-height: 36px;}
.header_top .inner a{color: #222;font-weight: 500;}
.header_top a:hover{color: #14adea;}
.header_top .link_area a{margin-right: 17px;}

.head_util {line-height: 34px;}
.head_util a{font-weight: normal;font-size: 12px; float: left; margin-left: 21px;}
.head_util a.on{color: #14adea;text-decoration: underline;}
.head_util a.lang{font-size: 11px;margin-right: 0;line-height: 33px;font-family: 'Nanum Gothic',sans-serif;}
.head_util a.lang i{font-size: 12px; vertical-align: middle;margin-left: 5px;}

/* gnb_area */
.gnb_area{height: 59px;line-height: 60px;}
.gnb_area>.inner{display: flex;align-items: center;justify-content: space-between;}
.gnb_area h1{width: 203px;height: 34px;}
.gnb_area h1 a{background: url(../img/logo_bk.png) 0 no-repeat;display: block;width: 100%;height: 100%;background-size: contain;}

.gnb{display: flex;height: 52px;margin-top: 8px; padding-left: 58px;}
.gnb li{margin-right: 20px;position: relative;padding: 0 5px;}
.gnb li:hover .depth2{display: block;}
.gnb li a span{font-size: 16px;box-sizing: border-box;font-weight: 700;letter-spacing: -.5px;line-height: 52px;position: relative;}
.gnb li a span.dot:after{content: ''; display: block;width: 5px;height: 5px;border-radius: 50%;position: absolute;top: -3px;right: -8px;left: auto;bottom: auto;}
.gnb li a:hover{color: #14adea;}
.gnb li a:hover::before{content: "";position: absolute;left: 0;right: auto;top: auto;bottom: 0;width: 100%;height: 3px;background: #14adea;}

.depth2{width: 1014px;left: 0px;right: auto;top: 92px;display: none;box-sizing: border-box;text-align: left; min-height: 0;padding-top: 20px;position: absolute;overflow: hidden;}

/* gnb_rignt btn */
.gnb_right{display: flex;align-items: center;}
.search_btn{background: url(../img/search-b.svg) 50% no-repeat;background-size: contain;width: 30px;height: 30px;margin: 0 20px;}
.gnb_btn{display: flex;}
.gnb_btn span{line-height: 30px;font-size: 13px;height: 30px;border-radius: 2px;cursor: pointer;border: 1px solid #12232e;display: block;}
.select{padding: 0 16px; text-align: center;width: 104px;}
.util{background: #1e232e;margin-left: 5px; color: #fff;text-align: center;width: 94px;}
.select i{margin-left: 5px;}

/* bn_slider */
.section_wrap{position: relative;top: 91px;}
.bn_slider {height: 260px;}
.bn_slider li{background:url(../img/main_bn1.png) 50% no-repeat; width: 100%;background-size: cover;height: 100%;text-align: center;}
.bn_slider li p{color: #fff;}
.bn_slider li p:first-child{font-size: 32px;line-height: 1.18;padding-top: 35px; word-spacing: 3px;}
.bn_slider li p:nth-child(2){font-size: 14px;padding-top: 12px;opacity: .8; word-spacing: 1px;}

.btn_wrap{padding-top: 28px;display: flex;justify-content: center;}
.btn_white{width: 198px; height: 35px;line-height: 38px;margin: 0 4px;color: #fff;display: block;border: 1px solid #fff;border-radius: 2px; font-size: 14px;word-spacing: 2px;}
.btn_white:hover{background: #fff;color: #333;}

.sub_bn_area{background: #1e232e;height: 92px; padding: 4px 0 0;}
.sub_bn_list{width: 1380px;margin: 0 auto;padding: 0 38px 0 46px;}
.sub_bn{width: 324px; padding-right: 77px; float: left;}
.sub_bn:first-child{margin-left: 0;}
.sub_bn a{height: 88px; font-size: 14px;display: flex;align-items: center;}
.sub_bn a p{color: #fff;letter-spacing: -.1px; padding-left: 8px; text-align: left;line-height: 1.4;margin-top: 3px;flex: 1;}
.sub_bn a img{width: 40px;height: 40px;}
.sub_bn a img.sub_bn_hover{display: none;}
.sub_bn a:hover p{color: #14adea;}
.sub_bn a:hover img:first-child{display: none;}
.sub_bn a:hover img.sub_bn_hover{display: inline;}

.notice_area>.inner{line-height: 60px;}
.notice_left{width: 970px;float: left;height: 60px;position: relative;}
.notice:before,.notice_left:after{content: '';height: 16px;position: absolute;border-right: 1px solid rgba(34,34,34,.2);top: 23px;}
.notice_left .notice{font-size: 14px;}
.notice_category{border: 1px solid #9e9e9e;border-radius: 12px;padding: 0 10px;height: 17px;font-size: 12px;text-align: center;vertical-align: middle; color: #707070;margin: 0 8px 0 23px;}
.date{color: #9f9b9c;letter-spacing: -.5px;margin-left: 8px;}
.notice_list li:hover .content{text-decoration: underline;}
.notice_left .more{position: absolute;top: 0;right: 0%;line-height: 63px;}
.notice_left .more::after{content: '';display: inline-block; background: url(../img/right_arrow.svg) no-repeat;width: 8px;height: 13px;vertical-align: middle;margin-left: 13px;}
.notice_left .more:hover{text-decoration:underline;}

.notice_right{float: right;position: relative;padding: 0 36px;font-size: 14px;}
.notice_right:after{content: '';height: 16px;position: absolute;top: 23px;border-right: 1px solid rgba(34,34,34,.2);right: -1px;left: auto;}
.notice_right a.edu{margin-right: 17px;}
.notice_right a.edu::before{background: url(../img/edu.png)no-repeat; content: '';display: inline-block;width: 17px; height: 13px;margin-right: 6px;vertical-align: middle;}
.notice_right a.blog::before{background: url(../img/blog.png)no-repeat;background-size:contain;content: '';display: inline-block;width: 20px; height: 18px;margin-right: 6px;vertical-align: middle;}

/* container 1 */
.container1{background-color: #f1f2f5;padding-bottom: 40px;}
.container1 .item{border-color: transparent;}
.featured_item{height: 132px; width: 405px;padding: 16px;}
.featured_item:hover{border-color: #14adea;}
.featured_item.mgt{margin: 0 33px;}
.featured_box .name{margin: 19px 0 10px;letter-spacing: 1.3px;font-weight: 600;}
.featured_box .text{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;letter-spacing: -.15px;height: 40px;width: 373px;}
.f_category{font-size: 14px; font-weight: 500;}
.b_color{color: #51a7ff;}
.g_color{color: #7fbb2e;}
.name img{margin: -5px 7px 0 0;}

/* container 2 */
.tabs{display: flex;}
.tabs h2 a{color: #888;}
.tabs h2 a.on{color: #222;}
.tabs h2:first-child::after{content: '|'; display: inline-block;color: #888;padding: 0 16px;}
.tabs h2 a:hover{color: #14adea;}

.tab_list .row{display: flex;border-bottom: 1px solid #ededed;}
.tab_list .row li{width: 200px; margin-right: 16px;text-align: center;display: inline-block;height: 113px; padding-top: 16px; cursor: pointer;}
.tab_list .row li:hover .service_title{color: #14adea;}
.tab_list .row li:last-child{margin-right: 0;}
.tab_list .row li img{width: 48px; height:48px;}
.service_title{font-size: 16px;margin-top: 8px;position: relative;font-weight: 500;letter-spacing: .5px;}
.service_title.narrow{letter-spacing: 0;}
.container2 .main_btn{margin: 22px auto 0;}

/* container 3 */
.container3{padding-bottom: 40px;}
.container3 h2{padding-bottom: 25px;letter-spacing: -0.05px;}
.container3 .items_list{flex-wrap: wrap; margin: -8px;}
.solution_item{width: 25%;padding: 8px; border-color: transparent;}
.solution_item .name{font-weight: bold;}
.solution_box{box-sizing: border-box;  height: 104px;border: 1px solid #ededed; padding: 19px 16px;transition: border .3s;cursor: pointer;}
.solution_box:hover{border-color: #14adea;}
.solution_box .tit{font-size: 16px;font-weight: bold;margin-bottom: 10px;padding-top: 2px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 164px;}
.solution_box .txt{width:164px;font-size: 14px;line-height: 1.43;word-spacing: 1px;}
.solution_box1 {background: url(../img/solution1.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box2 {background: url(../img/solution_au.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box3 {background: url(../img/solution_hybrid.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box4 {background: url(../img/solution_finance.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box5 {background: url(../img/solution_gaming.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box6 {background: url(../img/solution_ecumos.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box7 {background: url(../img/solution_care.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box8 {background: url(../img/solution_edu.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.container3 .main_btn{margin: 24px auto 40px;}

.cloud_service{padding: 8px;}
.cloud_service .item{padding: 25px 24px;margin-right: 40px;display: flex;}
.cloud_service .item:last-child{margin-right: 0;}
.cloud_service .item img{width: 52px;height: 52px;vertical-align: top;}
.cloud_box{width: 288px;margin-left: 10px;position: relative;}
.cloud_box .name{margin-bottom: 12px; word-spacing: 1px;}
.cloud_box .text{letter-spacing: -.2px;word-spacing: 1px;}
.cloud_box a.blank{position: absolute;top: 3px;right: 0;color: #14adea;}
.cloud_box a.blank::after{content: '';background: url(../img/blank.png)no-repeat;width: 13px;height: 13px;display: inline-block;vertical-align: middle;margin-left: 5px;}
.cloud_service .item:hover .blank{text-decoration: underline;color: #14adea;}
.cloud_box span.more{text-decoration: underline;font-weight: normal;color: #707070;}
.cloud_box span.more:hover{color: #14adea;}

/* container 4 */
section.container4{padding: 60px 0 40px;background-color: #f6f7f8;}
.container4 h2{margin: 10px 0 0; padding: 0 0 19px;letter-spacing: .3px;}
.container4 h2 a.more{margin-left: 11px;vertical-align: middle; padding-right: 15px;position: relative;}
.container4 h2 a.more::after{background: url(../img/right_arrow.svg) no-repeat;content: '';display: inline-block;position: absolute;width: 8px;height: 12px;top: 0;margin-left: 7px;}
.cloud_tabs{display: flex;margin-bottom: 40px;}
.cloud_tag{display: inline-block;padding: 12px 16px;font-size: 14px; margin: 0 5px 6px 0;box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);background: #fff;height: 14px;line-height: 17px;border-radius: 20px;}
.cloud_tag.on{background: #000;color: #fff;}

.tabgroup{margin: 0 -20px;}
.tabs_list{display: flex;flex-wrap: wrap;}
.tabs_list .article_box{width: 33.33%;padding: 0 20px;}
.article_box .article{border-bottom: 1px solid #ededed;padding-bottom: 20px;margin-bottom: 20px;position: relative;}
.article_box_wrap{position: relative;}
.article_box_wrap .small_news{margin-bottom: 10px;padding: 0px 20px 32px 0;border-bottom: 1px solid #ededed;}
.article_box_wrap .small_news02{padding: 0px 20px 30px 0;margin-bottom: 0;}
.article_box_wrap .small_news .img_area{position: relative;}
.article .img_area{margin-bottom: 21px;}
.article .img_area .img{width: 100%;height: 141px;}
.article_box:nth-child(1) .img{background: url(../img/trendnews1.jpg)no-repeat;background-position: 50%;background-size: cover;}
.article_box:nth-child(2) .img{background: url(../img/trendnews2.png)no-repeat;background-position: 50%;background-size: cover;}
.article_box:nth-child(3) .small_news01 .img{background: url(../img/trendnews3.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: -20px;top: 10px;}
.article_box:nth-child(3) .small_news02 .img{background: url(../img/trendnews4.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: -20px;top: 10px;}
.article_box:nth-child(4) .img{background: url(../img/trendnews5.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 0;}
.article_box:nth-child(5) .img{background: url(../img/trendnews6.jpg)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 0;}
.article_box:nth-child(6) .img{background: url(../img/trendnews6.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 0;}
.article_box .content_box .trend_tag{height: 12px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.article_box:nth-child(n+4):nth-child(n-6){margin-top: -18px;}
.article_box:nth-child(n+4):nth-child(n-6) .article{padding-bottom: 30px;}
.trend_title{font-size: 20px;height: 60px;padding-top: 11px;font-weight: 600;text-overflow: ellipsis;overflow: hidden;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;line-height: 1.3;word-spacing: -1px;letter-spacing: -.1px;}
.trend_title_small{font-size: 16px; line-height: 1.45;}
.trend_source{font-size: 11px;font-weight: 400;margin: 14px 0 0;}
.small_news .content_box{padding-right: 120px;}
.container4 .btn_wrap{padding-top: 4px;}

/* container 5 */
.container5 h2{padding: 64px 0 24px;letter-spacing: -.1px;word-spacing: 1px;position: relative;}
.container5 h2 .more{position: absolute;margin: 11px 16px;display: inline-block;}
.container5 h2 .more span img{margin: -4px 0 0 2px;}
.container5 .customer{display: flex; padding-bottom: 24px;}
.customer .customer_list{width: 416px; margin-right: 16px;}
.customer .customer_list:nth-child(1) .img_area{background: url(../img/customer_img1.png)no-repeat;width: 100%;height: 143px;background-position: top;background-size: cover;}
.customer .logo_area{padding-top: 16px;} 
.customer .logo_area img{height: 28px;}
.customer .customer_list:nth-child(2) .img_area{background: url("https://xv-ncloud.pstatic.net/images/customerCase/현대해상_img_thumb_1628154563290_1650249129215.png")no-repeat;width: 100%;height: 143px;background-position: top;background-size: cover;}
.customer .customer_list:nth-child(3) .img_area{background: url("https://xv-ncloud.pstatic.net/images/customerCase/농협은행_1650248074930.png")no-repeat;width: 100%;height: 143px;background-position: top;background-size: cover;}
.customer_list .item{padding: 0 24px;}
.customer_list .item:hover{border-top-color: transparent;}
.customer_list h4{font-size: 20px;font-weight: 400;padding-top: 16px;}
.customer_list .content{padding: 11px 0;font-size: 14px;color: #707070;height: 52px;text-overflow: ellipsis;line-height: 1.43; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.customer_list .category{padding: 8px 0 24px;}
.container5 .main_btn{margin-bottom: 10px;height: 35px;line-height: 39px;}

/* container6 */
.container6{background: #1e232e;padding-left: 40px;color: #fff;padding-bottom: 0;}
.container6>.inner{position: relative; width: 2040px;margin: 0;padding-left: 65px;}
.container6 h2{top: 20px;position: absolute;left: 65px;font-size: 25px;letter-spacing: -.1px;word-spacing: 1px;}
.whytab_wrap{display: flex;}
.whytab_wrap .tab_list{width: 416px;margin: 152px 15px 0 2px;}
.whytab_wrap .tab_list li{height: 65px; overflow: hidden;}
.whytab_wrap .tab_list li.active{height: 117px;}
.whytab_wrap .tab_list li .cloud_tit{font-size: 16px; font-weight: 500;line-height: 23px;border-top: 1px solid rgba(255, 255, 255, 0.2); padding: 22px 0;position: relative;letter-spacing: -.17px;}
.whytab_wrap .tab_list li:last-child{border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.whytab_wrap .tab_list li.active .cloud_tit{color: #14adea;border-top-color: #14adea; padding: 22px 0 10px;word-spacing: 1px;}
.whytab_wrap .tab_list li.active .cloud_tit::after{content: '';display: inline-block;background: url(../img/right_arrow.svg) no-repeat; width: 8px;height: 12px;right: 2px;position: absolute;top: 24px;}
.whytab_wrap .tab_list li .cloud_txt{font-size: 14px; padding: 0 0 22px;line-height: 1.5;letter-spacing: -.1px; word-spacing: -.1px;}
.whytab_wrap .tab_list a{color: #fff;}
.whytab_wrap .tab_list a:hover{color: #14adea;}
.tab_content{width: calc(100%-432px);height: 570px;max-width: 1008px;overflow: hidden;}
.tab_content .img_box{width: 100%;background-position: 100px 0;}
.tab_content .img_box img{height: 570px; width: 1008px;}

/* container 7 */
.container7{padding: 40px 0 45px;background: #f6f7f8;}
.container_top{display: flex;justify-content: space-between; border-bottom: 1px solid rgba(34,34,34,.1);padding-bottom: 23px;}
.container_top h2{font-weight: 600;padding: 0;margin: auto 0;line-height: 1.54;letter-spacing: -.1px;}
.container_top .main_btn{padding-top: 0;background: #fff;margin: 0;}
.container_top .main_btn:hover{background: #14adea;color: #fff;}
.container_box{margin-top: 35px;display: flex;}
.program{margin-right: 16px;display: inline-block;width: 416px;}
.program:last-child{margin-right: 0;}
.program .tit{font-size: 18px;font-weight: 600;word-spacing: 1px;}
.program .text{letter-spacing: -.2px;height: 40px;color: #707070;margin-top: 11px;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;word-spacing: 1px;}
.program .link_box{margin-top: 40px;}
.link_box .more{border-right: 1px solid #22222229;margin-right: 6px;padding-right: 6px;font-weight: 600;letter-spacing: -.1px;position: relative;}
.link_box .more:last-child{border-right: none;}
.link_box .more:hover{text-decoration: underline;}
.link_box .more.blank:after{content: '';display: inline-block;background: url(../img/blank.png)no-repeat;width: 13px;height: 13px;position: absolute;margin-left: 3px;}

footer{background: #222;color: #fff;padding-bottom: 20px;}
.footer_top{height: 64px;border-bottom: 1px solid #ffffff14;line-height: 64px;}
.sns_area{display: flex;line-height: 33px;align-items: center;float: left;}
.sns_area li{margin-right: 22px;}
.sns_area li a{display: inline-block;}
.sns_area .blog{background: url(../img/footer_sns_blog.png) no-repeat;width: 27px;height: 27px;background-size: contain;}
.sns_area .facebook{background: url(../img/footer_sns_facebook.png)no-repeat;width: 25px;height: 27px; background-size: contain;}
.sns_area .youtube{background: url(../img/footer_sns_youtube.png)no-repeat;width: 27px;height: 21px;background-size: contain;}
.sns_area .medium{background: url(../img/footer_sns_m.png)no-repeat;width: 24px;height: 24px;background-size: contain;}
.sns_area .linkin{background: url(../img/footer_sns_link.png)no-repeat;width: 24px;height: 24px;background-size: contain;}

.news_letter_area{float: right;}
.news_letter{font-size: 14px;margin-right: 8px;display: inline-block;}
.news_letter_area .btn{height: 32px;font-size: 12px;line-height: 28px;border-radius: 2px; padding: 0 10px;border: 1px solid #ffffff99;display: inline-block;color: #fff;vertical-align: middle;}

/* footer_nav */
.footer_nav{border-bottom: 1px solid #303030;}
.footer_nav_list{margin-top: 32px;display: flex;}
.footer_nav .line{width: 20%;}
.footer_nav .line ul li a{display: block;height: auto;}
.footer_nav .line li a:hover{color: #14adea;}
.footer_nav .line .d1 a{color: #fff;line-height: 1;font-size: 16px;}
.footer_nav .line .d1 .d2 {margin: 13px 0 0;}
.footer_nav .line .d1 .d2 li{padding: 4px 0;}
.footer_nav .line .d1 .d2 li a{color: #9e9e9e;font-size: 13px;line-height: 1.2;}
.footer_nav .line .d1 .d2 li a:hover{color: #14adea;}
.footer_nav .line .d1 .d2 li a:hover .blank{background: url(../img/blank_black_hover.png)no-repeat;}
.marketplace,.partner,.guide{margin-top: 70px;}
.footer_nav .line ul li .blank{background: url(../img/blank_black.png)no-repeat; display: inline-block;width: 13px;height: 13px;vertical-align: middle;margin-left: 3px;}
.headset::before{background: url(../img/headphone.png)no-repeat;content: '';width: 15px;height: 16px;display: inline-block;vertical-align: middle;margin-right: 6px;}
.online::before{background: url(../img/online.png)no-repeat;content: '';width: 15px;height: 14px;display: inline-block;vertical-align: middle;margin-right: 6px;}
.phone::before{background: url(../img/call.png)no-repeat;content: '';width: 15px;height: 14px;display: inline-block;vertical-align: middle;margin-right: 6px;}
.download::before{background: url(../img/download.png)no-repeat;content: '';width: 15px;height: 14px;display: inline-block;vertical-align: middle;margin-right: 6px;}

.footer_bottom{padding: 24px 0;}
.policy_area_wrap{display: flex;justify-content: space-between;align-items: center;padding-bottom: 25px;}
.policy_area{display: flex;}
.policy_area .footer_logo img{width: 138px;height: 16px;}
.policy{display: flex;font-size: 11px;align-items: center;}
.policy li{padding-right: 13px;}
.policy a.bold{color: #fff;font-weight: bold;}
.policy li a{display: block;font-size: 11px;line-height: 1.5;color: #9e9e9e;}
.lang_area span{font-size: 14px;color: #9e9e9e;}
.lang_area select{background: #222;width: 144px;height: 32px;font-size: 11px;line-height: 30px;color: #Fff;}
.lang_area select:hover{border-color: #14adea;color: #14adea;}

.info_box{color: #707070;font-size: 11px;line-height: 1.64;}

.menu_item{width: 48px;height: 48px;display: block;margin-bottom: 8px;background-size: contain;position: fixed;z-index: 99999999;right: 40px;bottom: 30px;}
.calc{background: url(https://www.ncloud.com/public/img/symbol/quick-calc-new.svg)no-repeat;margin-bottom: 120px;}
.chat{background: url(https://www.ncloud.com/public/img/icon/chat-robot-msg-new.svg)no-repeat;margin-bottom: 64px;}
.top_btn{background: url(https://www.ncloud.com/public/img/symbol/quick-bottom.svg)no-repeat;}