@charset "UTF-8";
/* common */
section{padding-bottom: 30px;}
h2{font-size: 28px;padding: 43px 0 22px;font-weight: 500; letter-spacing: 1px;}
.main_btn {width: 200px;height: 38px;color: #14adea;display: block;font-weight: 500;font-size: 14px;border: 1px solid #14adea;line-height: 38px;text-align: center;border-radius: 2px;}
.main_btn:hover,.btn:hover{color: #fff;background: #14adea;display: block;border-color: #14adea;}
.dot:after{content: ''; width: 5px;height: 5px;border-radius: 50%;position: absolute;}
.dotgreen::after{background: #4bbf4d;}
.dotred::after{background: #f84d3a;}
.items_list{display: flex;}
.item{cursor: pointer;background: #fff;display: block; border: 1px solid #ededed;transition: border .5s;}
.item:hover{border:1px solid #14adea;}
.more{font-size: 12px; font-weight: 500; color: #14adea;}
.en{font-family: 'Cabin', sans-serif;}
.name{font-size: 16px;font-weight: 500;}
.text{font-size: 14px; line-height: 1.43;}
.category{font-size: 14px; line-height: 1;}

/* style */
header{position: fixed;z-index: 99999;background: #fff;width: 100%;box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);}
.header_top{border-bottom: 1px solid #ededed;}
.header_top .inner{height: 31px; display: flex;justify-content: space-between;line-height: 36px;}
.header_top .inner a{color: #222;font-weight: 500;}
.header_top a:hover{color: #14adea;}
.header_top .link_area a{margin-right: 17px;}

.head_util {line-height: 34px;}
.head_util a{font-weight: normal;font-size: 12px; float: left; margin-left: 21px;}
.head_util a.on{color: #14adea;text-decoration: underline;}
.head_util a.lang{font-size: 11px;margin-right: 0;line-height: 33px;font-family: 'Nanum Gothic',sans-serif;}
.head_util a.lang i{font-size: 12px; vertical-align: middle;margin-left: 5px;}

.gnb_area{height: 59px;line-height: 60px;}
.gnb_area>.inner{display: flex;align-items: center;justify-content: space-between;}
.gnb_area h1{width: 203px;height: 34px;}
.gnb_area h1 a{background: url(../img/logo_bk.png) 0 no-repeat;display: block;width: 100%;height: 100%;background-size: contain;}

.gnb{display: flex;height: 52px;margin-top: 8px; padding-left: 58px;}
.gnb li{margin-right: 20px;position: relative;padding: 0 5px;}
.gnb li:hover .depth2{display: block;}
.gnb li a span{font-size: 16px;box-sizing: border-box;font-weight: 700;letter-spacing: -.5px;line-height: 52px;position: relative;}
.gnb li a span.dot:after{content: ''; display: block;width: 5px;height: 5px;border-radius: 50%;position: absolute;top: -3px;right: -8px;left: auto;bottom: auto;}
.gnb li a:hover{color: #14adea;}
.gnb li a:hover::before{content: "";position: absolute;left: 0;right: auto;top: auto;bottom: 0;width: 100%;height: 3px;background: #14adea;}

.depth2{width: 1014px;left: 0px;right: auto;top: 92px;display: none;box-sizing: border-box;text-align: left; min-height: 0;padding-top: 20px;position: absolute;overflow: hidden;}

/* gnb_rignt btn */
.gnb_right{display: flex;align-items: center;}
.search_btn{background: url(../img/search-b.svg) 50% no-repeat;background-size: contain;width: 30px;height: 30px;margin: 0 20px;}
.gnb_btn{display: flex;}
.gnb_btn span{line-height: 30px;font-size: 13px;height: 30px;border-radius: 2px;cursor: pointer;border: 1px solid #12232e;display: block;}
.select{padding: 0 16px; text-align: center;width: 104px;}
.util{background: #1e232e;margin-left: 5px; color: #fff;text-align: center;width: 94px;}
.select i{margin-left: 5px;}

/* bn_slider */
.section_wrap{position: relative;top: 91px;}
.bn_slider {height: 260px;}
.bn_slider li{background:url(../img/main_bn1.png) 50% no-repeat; width: 100%;background-size: cover;height: 100%;text-align: center;}
.bn_slider li p{color: #fff;}
.bn_slider li p:first-child{font-size: 32px;line-height: 1.18;padding-top: 35px; word-spacing: 3px;}
.bn_slider li p:nth-child(2){font-size: 14px;padding-top: 12px;opacity: .8; word-spacing: 1px;}

.btn_wrap{padding-top: 28px;display: flex;justify-content: center;}
.btn_white{width: 198px; height: 35px;line-height: 38px;margin: 0 4px;color: #fff;display: block;border: 1px solid #fff;border-radius: 2px; font-size: 14px;word-spacing: 2px;}
.btn_white:hover{background: #fff;color: #333;}

.sub_bn_area{background: #1e232e;height: 92px; padding: 4px 0 0;}
.sub_bn_list{width: 1380px;margin: 0 auto;padding: 0 38px 0 46px;}
.sub_bn{width: 324px; padding-right: 77px; float: left;}
.sub_bn:first-child{margin-left: 0;}
.sub_bn a{height: 88px; font-size: 14px;display: flex;align-items: center;}
.sub_bn a p{color: #fff;letter-spacing: -.1px; padding-left: 8px; text-align: left;line-height: 1.4;margin-top: 3px;flex: 1;}
.sub_bn a img{width: 40px;height: 40px;}
.sub_bn a img.sub_bn_hover{display: none;}
.sub_bn a:hover p{color: #14adea;}
.sub_bn a:hover img:first-child{display: none;}
.sub_bn a:hover img.sub_bn_hover{display: inline;}

.notice_area>.inner{line-height: 60px;}
.notice_left{width: 970px;float: left;height: 60px;position: relative;}
.notice:before,.notice_left:after{content: '';height: 16px;position: absolute;border-right: 1px solid rgba(34,34,34,.2);top: 23px;}
.notice_left .notice{font-size: 14px;}
.notice_category{border: 1px solid #9e9e9e;border-radius: 12px;padding: 0 10px;height: 17px;font-size: 12px;text-align: center;vertical-align: middle; color: #707070;margin: 0 8px 0 23px;}
.date{color: #9f9b9c;letter-spacing: -.5px;margin-left: 8px;}
.notice_list li:hover .content{text-decoration: underline;}
.notice_left .more{position: absolute;top: 0;right: 0%;line-height: 63px;}
.notice_left .more::after{content: '';display: inline-block; background: url(../img/right_arrow.svg) no-repeat;width: 8px;height: 13px;vertical-align: middle;margin-left: 13px;}
.notice_left .more:hover{text-decoration:underline;}

.notice_right{float: right;position: relative;padding: 0 36px;font-size: 14px;}
.notice_right:after{content: '';height: 16px;position: absolute;top: 23px;border-right: 1px solid rgba(34,34,34,.2);right: -1px;left: auto;}
.notice_right a.edu{margin-right: 17px;}
.notice_right a.edu::before{background: url(../img/edu.png)no-repeat; content: '';display: inline-block;width: 17px; height: 13px;margin-right: 6px;vertical-align: middle;}
.notice_right a.blog::before{background: url(../img/blog.png)no-repeat;background-size:contain;content: '';display: inline-block;width: 20px; height: 18px;margin-right: 6px;vertical-align: middle;}

/* container 1 */
.container1{background-color: #f1f2f5;padding-bottom: 40px;}
.featured_item{height: 132px; width: 405px;padding: 16px;}
.featured_item.mgt{margin: 0 32px;}
.featured_box .name{margin: 16px 0 8px;}
.featured_box .text{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;letter-spacing: -.43px;height: 40px;width: 373px;}
.b_color{color: #51a7ff;}
.g_color{color: #7fbb2e;}
.name img{margin: -5px 7px 0 0;}

/* container 2 */
.tabs{display: flex;}
.tabs h2 a{color: #888;}
.tabs h2 a.on{color: #222;}
.tabs h2:first-child::after{content: '|'; display: inline-block;color: #888;padding: 0 16px;}
.tabs h2 a:hover{color: #14adea;}

.tab_list .row{display: flex;border-bottom: 1px solid #ededed;}
.tab_list .row li{width: 200px; margin-right: 16px;text-align: center;display: inline-block;height: 114px; padding-top: 16px; cursor: pointer;}
.tab_list .row li:hover .service_title{color: #14adea;}
.tab_list .row li img{width: 48px; height:48px;}
.service_title{font-size: 16px;margin-top: 9px;position: relative;font-weight: 500;letter-spacing: .5px;}
.service_title.narrow{letter-spacing: 0;}

/* container 3 */
.container3 .items_list{flex-wrap: wrap; margin: -8px;}
.solution_item{width: 25%;padding: 8px; border-color: transparent;}
.solution_item .name{font-weight: bold;}
.solution_box{box-sizing: border-box;  height: 104px;border: 1px solid #ededed; padding: 18px 16px;}
.solution_box:hover{border-color: #14adea;}
.solution_item:hover{border-color: transparent;}
.solution_box .tit{font-size: 16px;font-weight: bold;}
.solution_box .txt{width: 164px;font-size: 14px;line-height: 1.43;}
.solution_box1 {background: url(../img/solution1.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box2 {background: url(../img/solution_au.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box3 {background: url(../img/solution_hybrid.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box4 {background: url(../img/solution_finance.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box5 {background: url(../img/solution_gaming.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box6 {background: url(../img/solution_ecumos.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box7 {background: url(../img/solution_care.png) no-repeat;background-size: 127px 100%;background-position-x: right;}
.solution_box8 {background: url(../img/solution_edu.png) no-repeat;background-size: 127px 100%;background-position-x: right;}

.cloud_service{padding: 40px 0 10px;}
.cloud_service .item{padding: 24px;margin-right: 40px;display: flex;}
.cloud_service .item:last-child{margin-right: 0;}
.cloud_service .item img{width: 52px;height: 52px;vertical-align: top;}
.cloud_box{width: 288px;margin-left: 10px;position: relative;}
.cloud_box .name{margin-bottom: 12px;}
.cloud_box .text{letter-spacing: .1px;}
.cloud_box a.blank{position: absolute;top: 0;right: 0;color: #14adea;}
.cloud_box a.blank::after{content: '';background: url(../img/blank.png)no-repeat;width: 13px;height: 13px;display: inline-block;vertical-align: middle;}
.cloud_service .item:hover .blank{text-decoration: underline;color: #14adea;}
.cloud_box span.more{text-decoration: underline;font-weight: normal;color: #707070;}
.cloud_box span.more:hover{color: #14adea;}

section.container4{padding: 60px 0 0;background-color: #f6f7f8;}
.container4 h2{margin: 4px 0 0; padding: 0 0 20px;}
.container4 h2 a.more{margin-left: 12px; line-height: 12px; vertical-align: middle; padding-right: 15px;}
.cloud_tabs{display: flex;margin-bottom: 40px;}
.cloud_tag{display: inline-block;padding: 12px 16px;font-size: 14px; margin: 0 6px 6px 0;box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);background: #fff;height: 14px;line-height: 14px;border-radius: 20px;}
.cloud_tag.on{background: #000;color: #fff;}

.tabs_list{display: flex;flex-wrap: wrap;}
.tabs_list .article_box{width: 33.33%;padding: 0 20px;}
.article_box .article{border-bottom: 1px solid #ededed;padding-bottom: 20px;margin-bottom: 20px;position: relative;}
.article_box_wrap{position: relative;}
.article_box_wrap .small_news{margin-bottom: 20px;padding: 20px 20px 20px 0;border-bottom: 1px solid #ededed;}
.article .img_area{margin-bottom: 21px;}
.article .img_area .img{width: 100%;height: 141px;}
.article_box:nth-child(1) .img{background: url(../img/trendnews1.jpg)no-repeat;background-position: 50%;background-size: cover;}
.article_box:nth-child(2) .img{background: url(../img/trendnews2.png)no-repeat;background-position: 50%;background-size: cover;}
.article_box:nth-child(3) .small_news01 .img{background: url(../img/trendnews3.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 20px;}
.article_box:nth-child(3) .small_news02 .img{background: url(../img/trendnews4.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 20px;}
.article_box:nth-child(4) .img{background: url(../img/trendnews5.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 0;}
.article_box:nth-child(5) .img{background: url(../img/trendnews6.jpg)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 0;}
.article_box:nth-child(6) .img{background: url(../img/trendnews6.png)no-repeat;background-position: 50%;background-size: cover;width: 100px;height: 100px;vertical-align: middle;position: absolute;right: 0;}
.article_box .content_box .trend_tag{height: 12px; font-size: 12px;font-weight: 400;line-height: 1;color: #00b878;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.trend_title{font-size: 20px;height: 50px;padding-top: 10px;font-weight: 600;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.trend_title_small{font-size: 16px;}
.trend_source{font-size: 12px;font-weight: 400;margin: 12px 0 0;}
.small_news .content_box{padding-right: 120px;}